In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import config 
import sql_con

In [2]:
# get module variables
ROOT_DIR = config.ROOT_DIR
select_records = sql_con.select_records
insert_records = sql_con.insert_records
update_records = sql_con.update_records
conn_odbc = sql_con.conn_odbc
read_contents = sql_con.read_contents

In [3]:
coffee_production = pd.read_csv(rf"{ROOT_DIR}/data/total-production.csv")
coffee_production.head()

,total_production,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Angola,50.3450,79.3310,77.5200,32.6080,76.802,62.1090,70.925,64.330,85.3440,...,13.4200,34.9700,28.7150,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,40.3874
1,Bolivia (Plurinational State of),122.7770,103.5360,120.2350,50.8230,116.944,142.4850,124.579,140.719,137.9850,...,128.4751,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687
2,Brazil,27285.6286,27293.4934,34603.3542,28166.9786,28192.047,18060.2022,29196.743,26148.004,36760.8533,...,43976.8120,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8635,62924.8836
3,Burundi,487.3930,667.1990,620.2380,393.3540,664.143,433.9800,400.969,249.785,491.9920,...,111.6130,352.9776,204.1328,405.9615,163.2177,247.5500,274.1017,248.7933,202.1079,178.4206
4,Ecuador,1503.8150,2123.8240,1185.4800,2069.0070,2375.766,1888.2330,1992.914,1190.663,1205.9680,...,813.2849,853.9798,825.4144,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,601.0001

In [4]:
# reshape dataframe to have years in index position and countries in columns
coffee_production = coffee_production.set_index("total_production").transpose()
coffee_production.index.set_names("Year", inplace=True)
coffee_production.head()

total_production,Angola,Bolivia (Plurinational State of),Brazil,Burundi,Ecuador,Indonesia,Madagascar,Malawi,Papua New Guinea,Paraguay,...,Panama,Sierra Leone,Sri Lanka,Thailand,Togo,Trinidad & Tobago,Uganda,Venezuela,Viet Nam,Yemen
Year,,,,,,,,,,,,,,,,,,,,,
1990,50.345,122.777,27285.6286,487.393,1503.815,7441.383,982.447,104.628,962.841,130.627,...,214.987,42.783,95.870,757.017,161.308,14.581,1955.009,1122.477,1310.288,0.0
1991,79.331,103.536,27293.4934,667.199,2123.824,8493.196,932.513,124.286,746.816,79.653,...,192.532,54.379,81.549,1468.936,432.652,17.792,2088.001,940.704,1437.848,0.0
1992,77.520,120.235,34603.3542,620.238,1185.480,5569.478,1121.684,137.161,900.111,54.291,...,196.978,39.084,53.181,1254.945,85.648,14.328,2185.074,1215.298,2340.447,0.0
1993,32.608,50.823,28166.9786,393.354,2069.007,6743.288,441.859,62.111,1019.481,70.046,...,142.066,37.451,53.790,1275.201,194.939,16.079,3141.706,1332.881,3020.216,0.0
1994,76.802,116.944,28192.0470,664.143,2375.766,5367.878,641.372,84.112,1138.659,24.689,...,248.313,72.738,42.448,1399.135,176.296,18.435,2392.753,988.996,3631.609,0.0

In [5]:
coffee_production.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 1990 to 2018
Data columns (total 56 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Angola                            29 non-null     float64
 1   Bolivia (Plurinational State of)  29 non-null     float64
 2   Brazil                            29 non-null     float64
 3   Burundi                           29 non-null     float64
 4   Ecuador                           29 non-null     float64
 5   Indonesia                         29 non-null     float64
 6   Madagascar                        29 non-null     float64
 7   Malawi                            29 non-null     float64
 8   Papua New Guinea                  29 non-null     float64
 9   Paraguay                          29 non-null     float64
 10  Peru                              29 non-null     float64
 11  Rwanda                            29 non-null     float64
 12  Timor-Leste                       29 non-null     float64
 13  Zimbabwe                          29 non-null     float64
 14  Congo                             29 non-null     float64
 15  Cuba                              29 non-null     float64
 16  Dominican Republic                29 non-null     float64
 17  Haiti                             29 non-null     float64
 18  Philippines                       29 non-null     float64
 19  Tanzania                          29 non-null     float64
 20  Zambia                            29 non-null     float64
 21  Benin                             29 non-null     float64
 22  Cameroon                          29 non-null     float64
 23  Central African Republic          29 non-null     float64
 24  Colombia                          29 non-null     float64
 25  Costa Rica                        29 non-null     float64
 26  CÃ´te d'Ivoire                     29 non-null     float64
 27  Democratic Republic of Congo      29 non-null     float64
 28  El Salvador                       29 non-null     float64
 29  Equatorial Guinea                 29 non-null     float64
 30  Ethiopia                          29 non-null     float64
 31  Gabon                             29 non-null     float64
 32  Ghana                             29 non-null     float64
 33  Guatemala                         29 non-null     float64
 34  Guinea                            29 non-null     float64
 35  Guyana                            29 non-null     float64
 36  Honduras                          29 non-null     float64
 37  India                             29 non-null     float64
 38  Jamaica                           29 non-null     float64
 39  Kenya                             29 non-null     float64
 40  Lao People's Democratic Republic  29 non-null     float64
 41  Liberia                           29 non-null     float64
 42  Mexico                            29 non-null     float64
 43  Nepal                             29 non-null     float64
 44  Nicaragua                         29 non-null     float64
 45  Nigeria                           29 non-null     float64
 46  Panama                            29 non-null     float64
 47  Sierra Leone                      29 non-null     float64
 48  Sri Lanka                         29 non-null     float64
 49  Thailand                          29 non-null     float64
 50  Togo                              29 non-null     float64
 51  Trinidad & Tobago                 29 non-null     float64
 52  Uganda                            29 non-null     float64
 53  Venezuela                         29 non-null     float64
 54  Viet Nam                          29 non-null     float64
 55  Yemen                             29 non-null     float64
dtypes: float64(56)
memory usage: 12.9+ KB

#### Get top 10 coffee producers

In [13]:
top_10_producers = coffee_production.sum().sort_values(ascending=False).iloc[:10]
top_10_producers

total_production
Brazil       1.190966e+06
Viet Nam     4.395410e+05
Colombia     3.458714e+05
Indonesia    2.451168e+05
Ethiopia     1.415429e+05
India        1.320257e+05
Mexico       1.269082e+05
Guatemala    1.134011e+05
Honduras     1.054566e+05
Uganda       9.314637e+04
dtype: float64